*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.background-top{
    background-color: #009688;
    height: 10vh;
}

.background-bottom{
    background-color: #d8dbd6;
    height: 90vh;
}

.container{
    background-color: red;
    width:80%;
    height:90vh;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
}
/* aside */
.aside{
    background-color: violet;
    width: 30%;
    height: 100%;
    float: left;
}

/* user */
.user, .main-top{
    background-color: #eaeaea;
    height: 8vh;
    display: flex;
}

.user-photo{
    align-self: center;
}

.user-photo-img, .friend-main-photo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    vertical-align: middle;
}

.user-icons, .user-name{
    font-size: 14px;
    height: 8vh;
    line-height: 8vh;
}

.user-name{
    display: flex;
}

.user-icons{
    margin-left: 100px;
    /* display: flex; */
    
}

.user-icons i{
    padding: 0 10px;
    color: lightslategrey;
}

/* notice */
.notice{
    background-color: #8edafc;
    height: 8vh;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.notice-icons{
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    float: left;
    margin-top: 5px;
}

.notice-icons i{
    line-height: 35px;
    width: 35px;
    height: 35px;
    color: #8edafc;
    padding: 0 7px;
}

.notice-content{
    float: left;
    font-size: 12px;
    padding: 5px 10px;
}

.underline{
    text-decoration: underline;
    color: lightslategrey;

}

/* search */
.search{
    background-color: #eaeaea;
    height: 7vh;
    display: flex;
    align-content: center;
}

.search i {
    color: lightslategrey;
    padding: 10px 10px;
    margin: 10px;
    background-color: white;
} 

.search input{
    margin-left: 20px;
    padding: 0 40px;
    height: 7vh;
    width: 300px;
}

/* aside content */
.aside-content{
    background-color: lightblue;
    height: calc(100% - 23vh);
    overflow-y: scroll;
}

/* friend */
.friend{
    border-bottom: 1px solid gray;
    padding: 5px;
    display: flex;
}

.friend img{
    height: 50px;
    width: 50px;
    border-radius: 50%;  
}

.friend span{
    align-items: center;
    margin-left: 10px;
}

/* main */
.main-content{
    float: left;
    background-color: lime;
    height: 100%;
    width: 70%;
}

.friend-info{
    padding-top: 3px;
    font-size: 14px;
}

.chat{
    height: 74vh;
    background-color: magenta;
}

.chat ul li{
    list-style: none;
}

.green{
    background-color: greenyellow;
    float: left;
    padding: 10px 20px;
    border-radius: 10px;
}

.white{
    background-color: white; 
    float: right;
    padding: 10px 20px;
    border-radius: 10px;
}

footer{
    height: 8vh;
    background-color: #f3eeea;
}

.smile, .message{
    float: left;
}

.smile{
    width: 15%;
}

.message{
    width: 60%;
}

.microphone{
    float: right;
    width: 15%;
}

footer i {
    color: #6b7376;
    font-size: 30px;
    padding: 10px 30px;
}

footer input{
    text-align: center;
    width: 500px;
    height: 8vh;
    line-height: 8vh;
}

