<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- cdn font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- cdn Vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>

    

    <div id="app">

        <div class="background-top">
    
        </div>
    
        <div class="background-bottom">
    
        </div>

        <div class="container clearfix">

            <!-- start aside -->
            <div class="aside">
                <!-- start user -->
                <div class="user">

                    <div class="user-photo">
                        <img src="img/avatar_io.jpg" alt="account photo" class="user-photo-img">
                    </div>

                    <div class="user-name">
                        <p>Utente</p>
                    </div>

                    <div class="user-icons">

                        <div class="user-icons-content">
                            <i class="fas fa-circle-notch"></i>
                            <i class="far fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        
                    </div>

                </div>
                <!-- end user -->

                <!-- start notice -->
                <div class="notice clearfix">

                    <div class="notice-icons">
                        <i class="fas fa-bell-slash"></i>
                    </div>

                    <div class="notice-content">
                        <p>Ricevi le notifiche di nuovi messaggi</p>
                        <p class="underline">Attiva notifiche desktop</p>
                    </div>

                </div>
                <!-- end notice -->

                <div class="search">
                    <i class="fas fa-search"></i>
                    <label for="search"></label>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="aside-content">


                    <div class="friend" v-for="(user, index) in contacts">
                        <img :src="'img/avatar' +  user.avatar + '.jpg'" alt="user avatar">
                        <span>{{user.name}}</span>
                    </div>

                </div>

            </div>
            <!-- end aside -->

            
            <div class="main-content">

                <div class="main-top clearfix">
                    <div class="friend-main-photo">
                        <img src="img/avatar_1.jpg" alt="">
                    </div>
                    <div class="friend-info">
                        <p>Michele</p>
                        <p>Ultimo accesso oggi alle</p>
                    </div>
                </div>

                <div class="chat">

                    <div v-for="(elemento, index) in contacts[0].messages">

                    <div v-if="elemento.status == 'received'" class="green">
                        <div class="messaggio">
                            {{elemento.text}}
                        </div>

                        <div class="data">
                            {{elemento.date}}
                        </div>
                        
                    </div>
                    
                    <div v-else class="white">
                        <div class="utente">
                            {{elemento.text}}
                        </div>

                        <div class="data">
                            {{elemento.date}}
                        </div>
                    </div>

                    

                </div>

                
    
            </div>

                <footer>

                    <div class="smile">
                        <i class="far fa-smile"></i>
                    </div>

                    <div class="message">
                        <input type="text">
                    </div>

                    <div class="microphone">
                        <i class="fas fa-microphone"></i>
                    </div>
                    
                </footer>
            
        </div>
        <!-- end container -->

    </div>


    <!-- js -->
    <script src="js/script.js"></script>

</body>
</html>